{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="row" style="margin-right: 0;margin-left: 0;">
            <div class="sidebar col-lg-2 col-md-3">
                <h2>Wiki</h2>
                <form method="GET" action="{% url 'encyclopedia:search' %}">
                    <input style="padding: 10px 10px 10px;" class="search" minlength="3"  type="text" name="q" placeholder="Search Encyclopedia">
                </form>
                <div>
                    <a style="margin: 10px 0px 10px;" class="btn btn-info" role="button" href="{% url 'encyclopedia:index' %}">Home 🏠</a>
                </div>
                <div>
                    <a style="margin: 10px 0px 10px;" class="btn btn-info" role="button" href="{% url 'encyclopedia:NewPage' %}">Create New Page</a>
                </div>
                <div>
                    {%load wikiextras%}
                    <a style="margin: 10px 0px 10px;" class="btn btn-info" role="button" href="{% random_tag %}">Random Page</a>
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-mg-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>