{% extends "encyclopedia/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block body %}
    <h1>Entries Founded</h1>
    {%if  list_searched %}
        {% for listserch in list_searched %}
        <ul class="list-group">
            <li class="list-group-item" style="margin-bottom: 3px; font-size: large;"><a href="{{listserch}}">{{listserch}}</a></li>
        </ul>
        {% endfor %}
    {%else%}
        <h2 style="text-align: center;">Nothing in search</h1>
    {%endif%}
{% endblock %}
